span h3 {
  margin: 0;
  margin-top: 2rem;
}

::ng-deep {
  .ng5-slider .ng5-slider-pointer {
    background-color: #68d866 !important;
  }
  .ng5-slider .ng5-slider-pointer.ng5-slider-active:after {
    background-color: white !important;
  }
}
